main
  width: 100%
  background-color: #f2f2f2

.container
  width: 100%
  overflow: hidden

.slider-contenedor
  width: 100%
  display: flex

.contenido-slider
  width: 100%
  height: 500px
  display: flex
  justify-content: space-around
  align-items: center
  flex-shrink: 0

.contenido-slider img
  width: 600px

.contenido-slider:nth-child(1)
  background: url(../../../assets/spiderman-wallpaper.jpg)
  background-size: 100%

.contenido-slider:nth-child(2)
  background: url(../../../assets/superman-wallpaper.jpg)
  background-size: 100%

.contenido-slider:nth-child(3)
  background: url(../../../assets/spiderman-wallpaper.jpg)
  background-size: 100%

.contenido-slider div
  width: 40%

.contenido-slider h2
  font-weight: 300
  text-align: justify
  line-height: 30px
  color: white

.contenido-slider a
  color: #fff
  background: red
  width: 200px
  display: block
  padding: 15px 0
  text-align: center
  border-radius: 3px
  margin-top: 20px
  text-decoration: none

/**ol li
{
    background-color: black;
}

.carousel
{
    width: 100%;
    overflow: hidden;
}

.carousel-inner
{
    width: 100%;
    display: flex;
}

.carousel-item
{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.carousel-item img
{
    width: 600px;
}

.carousel-item div
{
    width: 40%;
}

.carousel-item h2
{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
    color: white;
}

.carousel-item a
{
    color: #fff;
    background: red;
    width: 200px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.carousel-control-prev .carousel-control-prev-icon
{
    background-color: black;
}

.carousel-control-next .carousel-control-next-icon
{
    background-color: black;
}**/
