footer
  background-color: #E6DF44
  color: black
  padding: 10px
  position: relative
  margin-bottom: 0

footer .pie
  display: flex
  width: 100%
  justify-content: space-around

footer .pie .columna-izq
  text-align: center

footer .pie .columna-izq h1
  font-size: 20px
  margin-bottom: 20px

footer .pie .columna-izq iframe
  width: 150px
  height: 150px
  border: 0

footer .pie .columna-cent
  text-align: center

footer .pie .columna-cent h1
  font-size: 20px
  margin-bottom: 20px

footer .pie .columna-der
  text-align: center

footer .pie .columna-der h1
  font-size: 20px
  margin-bottom: 20px

footer .pie .columna-der img
  margin-right: 20px
  height: 30px

