 <footer>
    <div class="pie">
        <div class="columna-izq">
            <h1>Ubicación</h1>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3344.448909952277!2d-71.6146518849632!3d-33.044646480892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689e0da0b53aa97%3A0x928c11c78e044b81!2sEdificio%20Isabel%20Brown%20Caces%20PUCV!5e0!3m2!1ses-419!2scl!4v1600386614063!5m2!1ses-419!2scl"></iframe>
        </div>
        <div class="columna-cent">
            <h1>Desarolladores</h1>
            <div>
                <label>Hernán Astudillo</label>
            </div>
            <div>
                <label>Mario Diaz</label>
            </div>
            <div>
                <label>Felipe Fuentealba</label>
            </div>
            <div>
                <label>José Silva</label>
            </div>
        </div>
        <div class="columna-der">
            <h1>Redes Sociales</h1>
            <div class="fila-1">
                <img src="/assets/facebook.png">
                <label>Siguenos en facebook</label>
            </div>
            <div class="fila-2">
                <img src="/assets/instagram.png">
                <label>Siguenos en instagram</label>
            </div>
        </div>
    </div>
</footer>

