@media (max-width: 2000px) {
  .cabecera {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  .logo {
    height: 50px;
  }
  .navbar {
    background-color: #e6df44;
    position: sticky;
    width: 100%;
    z-index: 9999;
  }
  .btn {
    margin-left: 10px;
  }
  .form-inline {
    margin-left: 0px;
    left: 30px;
    margin-right: 0px;
    padding-left: 100px;
  }
  .navbar ul {
    margin-left: 20px;
    padding-left: 120px;
  }
  .navbar ul li {
    margin-right: 50px;
    margin-left: 50px;
  }
  .navbar ul li a:hover {
    color: #fff0f5;
  }
  .nav-link {
    color: #000;
  }
  .dropdown-menu {
    background-color: rgba(255,255,250,0.904);
  }
  .dropdown-menu a:hover {
    background-color: #e6df44;
  }
}
@media (max-width: 1000px) {
  .cabecera {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  .logo {
    height: 50px;
  }
  .navbar {
    background-color: #e6df44;
    position: relative;
    width: 100%;
    z-index: 9999;
  }
  .btn {
    margin-left: 10px;
  }
  .form-inline {
    padding-left: 120px;
  }
  .nav-item {
    padding-left: 70px;
  }
  .nav-link {
    color: #000;
  }
  .dropdown-menu {
    background-color: rgba(255,255,250,0.904);
  }
  .dropdown-menu a:hover {
    background-color: #e6df44;
  }
}
@media (max-width: 600px) {
  .cabecera {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  .logo {
    height: 50px;
  }
  .navbar {
    background-color: #e6df44;
    position: relative;
    width: 100%;
    z-index: 9999;
  }
  .btn {
    position: relative;
  }
  .form-inline {
    padding-left: 0;
    margin-left: 0px;
    margin-right: 0px;
  }
  .nav-item {
    margin-left: 0;
    padding-left: 0px;
  }
  .navbar ul li {
    margin-left: 0px;
  }
  .nav-link {
    color: #000;
  }
  .dropdown-menu {
    background-color: rgba(255,255,250,0.904);
  }
  .dropdown-menu a:hover {
    background-color: #e6df44;
  }
}
