<div class=container-fluid>
    <div class="col mt-2">
        <ol class="breadcrumb">
            <li><a href=#>Inicio</a></li>
            <li><a>/Carrito</a></li>
        </ol>
    </div>
</div>

<hr>


<div class="alert alert-info mx-4" *ngIf="items.length ===0">No se han agregado productos al carrito</div>

<div class="container-flex" *ngIf="items.length > 0 ">

    <!-- ><form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div>
            <label for="nombre">
                Nombre
            </label>
            <input id="nombre" type="text" formControlName="controlNombre">
        </div>
        <div>
            <label for="correo">
                Correo
            </label>
            <input id="correo" type="text" formControlName="controlCorreo">
        </div>
        <button class="button" type="submit">Comprar</button>
        
    </form> -->

    <div class="progress mx-4" >
        <div class="progress-bar" id="progressCarrito" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">Revisión de Carrito</div>
    </div>
    <div class="row  mt-2 ml-2">
        <div class="col-8">
            <table class="table table-hover">
                <thead>
                    <th scope="col" style="width:8em">Eliminar</th>
                    <th scope="col"> Nombre del Producto</th>
                    <th scope="col" style="width:8em">Cantidad</th>
                    <th scope="col" style="width:8em">Precio</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td><button type="button" class="btn btn-danger pt-1 btn-block px-0 mr-2" (click)="EliminarDelCarrito(item._id)"  style="width: 100px"><i class="fas fa-trash-alt"></i> Eliminar</button></td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.cantidad }}</td>
                        <td>${{ item.precio*item.cantidad | currency:'CLP' }}</td> 
                    </tr>
                </tbody>
            </table>
        </div> <!--col-12-->
        <div class="col-3">
            <div class="text-primary text-right mr-5">
                <p class="font-weight-bold mt-2">Subtotal.</p> <hr/>
                <p>{{ totalCarrito | currency:"CLP" }}</p>
                <button type="button" class="btn btn-primary mb-5"
                data-toggle="collapse" data-target="#collapse"
                aria-expanded="false" aria-controls="collapse"
                onclick="$('.progress-bar').width(67+'%'); $('.progress-bar').text('Selección de despacho')"
                >Continuar a Despacho</button>
        </div> <!--col-3-->
    </div> <!--Row-->
    <hr/>
    <div class="row ml-2 mb-4">
        <div class="col">
            <div class="collapse" id="collapse">
                <div class="form-group">
                    <label for="inputAddress">Dirección</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Av. Brasil #2341">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Dirección Linea 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, casa o piso">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Ciudad</label>
                        <select id="inputCiudad" class="form-control">
                        <option selected disabled value="">Valparaíso</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputState">Comuna</label>
                        <select id="inputState" class="form-control">
                        <option selected disabled value="">Escoger Comuna...</option>
                        <option>Valparaíso</option>
                        <option>Viña del Mar</option>
                        <option>Quilpué</option>
                        <option>Villa Alemana</option>
                        <option>Concón</option>
                        </select>
                    </div>
                        <div class="form-group col-md-3">
                            <label for="inputZip">Cod. Postal</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>
                <button class="btn btn-primary">Agregar Dirección</button>
            </div>    
        </div>
    </div>
</div>

