<div class=container-fluid>
    <div class="col">
        <ol class="breadcrumb">
            <li><a href=#>Inicio </a></li>
            <li><a>/ Inciar Sesion</a></li>
        </ol>
    </div>
</div>
<main >
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto mt-5">
                <div class="card-body">
                    <h1 class="text-center">Iniciar sesion</h1>
                    <form>
                        <div class="form-group">
                            <label>Correo</label>
                            <input class="form-control" type="email" placeholder="Por favor ingrese  su  correo ">
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input class="form-control" type="password" placeholder="Por favor ingrese su contraseña">
                        </div>
                        <button class="btn btn-primary" type="submit">Iniciar Sesion</button>
                    </form>
                    <div class="form-group mt-3">
                        
                     
                      <a href="#">¿Olvidaste tu contraseña?</a>
                      <p></p>
                      ¿No tienes una cuenta? <a [routerLink]="['/Register']">Crear una cuenta</a>
                            
        
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</main>  
