<div class=container-fluid>
    <div class="col">
        <ol class="breadcrumb">
            <li><a href=#>Inicio </a></li>
            <li><a> / Recuper Contraseña</a></li>
        </ol>
    </div>
</div>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-20 mx-auto mt-5 mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <h3 class="card-title text-center mb-5">Por favor ingrese su correo</h3>
                            <div class="form-group">
                                <input [formControl]="emailUser" type="text" placeholder="Ingrese su correo" class="form-control" required/>
                            </div>
                            <div class="form-group mt-5 text-center">
                                <button (click)="resetPassword()" class="btn btn-primary" > Recuperar Contraseña</button>

                            </div>
                            
                        </div>
                    </div>

                </div>
                    
            </div>
        </div>
    </div>
</main>
