*
{
    padding-top: 5px;
}

.text
{
    text-align: left;
    top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.col-3
{
    text-align: center;
    background-color: aquamarine;
}

.col-9
{
    text-align: center;
    background-color: blueviolet;
}